body
{
    background-color: bisque;
}

p
{
    font-size: 1.5em;
    color:darkred;
    z-index: 10;
}

#dpcvisual
{
    position:fixed;
    bottom: 30%;
    left: 57%;
    transition-duration: 0.5s;
    visibility: hidden;
}



.divitem
{
    width: 100%;
    height: 10%;
}
.item
{
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    text-align: left;
    display: inline-block;
  position: relative;
  padding: 20px 8px;
  top: 0;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.item:hover:enabled
{
    top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

.item:disabled
{
    background-color:darkred;
}

.item:active
{
    top: 0px;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    background: rgba( 20, 224, 133, 1 );
}
.left
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 20%;
    background-color:lightgray;
    text-align: center;
}

.main
{
    top: 0px;
    position: absolute;
    left: 20%;
    height: 100%;
    width: 80%;
    /* background-color:yellow; */
}

.up
{
    position: absolute;
    height: 10%;
    width: 100%;
    /* background-color:red; */
    text-align: center;
    z-index: 10;
}

.mid
{
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 43%;
    height: 150px;
    width: 150px;
    transition-duration: 0.3s;
    top: calc(50% - 20px);
  left: calc(50% - 20px);
  border-radius: 50%;
  /* background-color: #fff; */
  /* box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px rgb(255, 235, 145),
    0 0 140px 90px rgb(255, 123, 0); */
}


.mid:hover
{
    transform:scale(1.2);
}
.emda
{
   height: 100%;
   width:100%;
  
}

.botleft
{
    position: absolute;
    height: 5%;
    width: 50%;
    /* background-color:red; */
    text-align: center;
    bottom: 10px;
}

.botright
{
    position: absolute;
    height: 5%;
    width: 50%;
    left: 50%;
    /* background-color:blue;  */
    text-align: center;
    bottom: 10px;
}
/* .emdadiv
{
    left: 20%;
} */
img{
    cursor: -webkit-grab;
}

.glow1
{
      background-color: #fff;
   box-shadow:
    0 0 60px 10px #fff,
    0 0 100px 20px rgb(255, 235, 145),
    0 0 140px 30px rgb(255, 123, 0);
    z-index: 0;
}

.glow2
{
      background-color: #fff;
   box-shadow:
    0 0 60px 20px #fff,
    0 0 100px 40px rgb(255, 235, 145),
    0 0 140px 70px rgb(255, 123, 0);
    z-index: 0;
}

.glow3
{
      background-color: #fff;
   box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px rgb(255, 235, 145),
    0 0 140px 90px rgb(255, 123, 0);
    z-index: 0;
}

.glow4
{
      background-color: #fff;
   box-shadow:
    0 0 60px 50px #fff,
    0 0 100px 90px rgb(255, 235, 145),
    0 0 140px 135px rgb(255, 123, 0);
    z-index: 0;
}

.glow5
{
      background-color: #fff;
   box-shadow:
    0 0 60px 100px #fff,
    0 0 100px 160px rgb(255, 235, 145),
    0 0 140px 220px rgb(255, 123, 0);
    z-index: 0;
}

.glow6
{
      background-color: #fff;
   box-shadow:
    0 0 60px 120px #fff,
    0 0 100px 200px rgb(108, 184, 247),
    0 0 140px 280px rgb(62, 89, 243);
    z-index: 0;
}

.glow7
{
      background-color: #fff;
   box-shadow:
    0 0 60px 200px #fff,
    0 0 100px 260px rgb(184, 217, 245),
    0 0 140px 360px rgb(128, 144, 248);
    z-index: 0;
}

.glow8
{
      background-color: #fff;
   box-shadow:
    0 0 60px 300px #fff,
    0 0 100px 360px rgb(108, 184, 247),
    0 0 140px 490px rgb(62, 89, 243);
    z-index: 0;
}